body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#background {
    position: absolute;
    opacity: 0.2;
    width: 100%;
    z-index: -1;
}

#footer {
    text-align: center;
    margin: 5px;
}

#switch_state button {
    display: block;
    width: 80%;
    margin: 20px auto;
    font-size: 12px;  
    opacity: 0.8;  
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #EEE;
}

#meta {
    text-align: center;
    font-size: 12px;
    position: absolute;
    padding: 0 5px;
    margin: 0 3px;
    border: 1px dotted #CCC;
    border-radius: 3px;
    background: #EEE;
}

#wait {
    padding: 50px;
    text-align: center;
}

#header, #data table {
    width: 100%;
}

#header, #header th, #header td {
    margin: 5px 0;
    border: 0;
}

#header td.tb {
    width: 10px;
    padding: 0px 5px 0 0;
}

#header td.tbl {
    width: 10px;
    padding: 0px 5px 0 5px;
}


#header td.tbr {
    width: 10px;
    padding: 0px 5px 0 5px;
}

#data {
    overflow: hidden;
}

#canvas {
    width: 100%;
    height: 320px;
}

button {
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    height: 3em;
    background: #CCC;
    border: 0;
}

#plus, #minus {
    width: 3em;
}

#gps, #set {
    width: 4em;
}

#location {
    width: 98%;
    height: 2em;
    padding: 4px 1% 5px;
    border: 1px solid #AAA;
}

.name {
    color: black;
    font-size: 10px;
}

.location {
    color: #888;
    font-size: 9px;
}

.tower_id {
    color: black;
    font-size: 10px;
    text-align: center;
}

.azimuth, .distance {
    color: black;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

#data th {
    font-size: 10px;
}

#max_distance {
    width: 3em;
    height: 2em;
    text-align: center;
}

#header td, #header td input {
    text-align: center;
}

p {
    padding: 0;
    margin: 5px;
    text-align: center;
}

.copy {
    font-size: 10px;
    margin: 10px;
}
